<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>
        <!-- null컬럼은 HashMap Reulst에서 제외한다. -->
        <setting name="callSettersOnNulls" value="true" />
        <!-- table column 명 under bar to camel case -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

</configuration>
